:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  background-color: rgb(208, 110, 40);
  overflow-x: hidden  ;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 80%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  padding: 10px;
}

.dropdown-content div {
  padding: 5px;
}

.input {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px;
  align-items: center;
  margin-bottom: 1%;
}

label {
  text-align: left;
  padding-right: 10px;
  width: 100px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  margin-left: -12.5%;
  margin-top: -3.5%;
  margin-right: -12.5%;
}

nav a {
  margin: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
  color: #8e2222;
  padding: 25px;
}

nav a:hover {
  color: #22aa42 !important;
  text-decoration: none;
}

nav a.active {
  color: #22aa42;
}

#menu {
  display: flex;
  align-items: center; 
}

#home-icon {
  margin-right: 60%;
  width: 20%;
  height: auto;
}

nav img {
  width: 100%;
  height: auto;
}

.button {
  margin: 1%;
}

.button:hover {
  background-color: #213547;
  color: #ffffff;
}

footer {
  margin-bottom: -6.6%;
  background-color: #1a1a1a;
  height: 120px;
  width: 121%;
  margin-left: -12.5%;
  color: white;
  display: flex;
  font-size: large;
  margin-top: 2%;
  padding: 2%;
}

footer p {
  margin-top: 4%;
  padding-left: 5%;
}

footer img {
  float: right;
  margin-left: 55%;
}

