<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>$TAB_TITLE</title>
</head>
<body>

    <div class="top-navbar">
        <a href="/">Velkommen</a>
        <a href="/node.js">Node.js</a>
        <a href="/app.js">App.js</a>
        <a href="/js">JavaScript</a>
        <a href="/mappe-struktur">Mappestruktur</a>
    </div>

    <main>